<p class="a"></p>
<p b></p>
<p class="a sec"></p>
<p class="a ter"></p>
<style>
  body {
    background:#492FB0;
    display:flex;
    align-items:center;
    margin:0;
  }
  p {
    background: #DB5EAD;
  }
  .a {
    position:absolute;
    height:150;
    width:50;
    left:45;
}
  [b] {
    position:absolute;
    height:100;
    width:100;
    left:20;
    border-radius:50%;
    box-shadow:130px 0px #DB5EAD,260px 0px #DB5EAD
}
  .sec{
    left:175;
    transform:rotate(15deg)
  }
    .ter{
    left:305;
    transform:rotate(30deg)
}
</style>